@import "color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: $very-light-gray;
}

p {
  color: $grayish-blue;
}

h1,
h2 {
  color: $very-dark-blue;
}

a {
  text-decoration: none;
}
